/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General Stylings*/

*{
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
}
html{
    font-size: 62.5%;
    color:dimgray;
}
body{
    font-size: 1.6rem;
    font-family: 'Raleway';
    line-height: 1.5;
    max-width: 100%;
    background-color: black;
}
/*top section styles*/
#top{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.name h1{
    display: flex;
    justify-content: space-evenly;
    font-size: 6rem;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: space-between; */
    font-size: 2rem;
}
nav a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 2;
    color: dimgray;
    transition: 2s;
  }
  nav a:link, a:visited, a:focus {
    background:black;
  }
  
  nav a:hover {
    background:silver;
    color: black;
  }
  
  nav a:active {
    background:skyblue;
    color: black;
  }
.intro-title h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.intro-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


/* background img */
#bg-img img{
    /*background-image: url(../portfolio-img.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
    position:sticky;
    max-width: 100%;
    height: auto;
}


/*bottom section styles*/
#bottom{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
}
.project-gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-evenly;
    padding:20px;
}
.project-description{
    display: flex;
    justify-content: center;
}
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
